<%- include('../pages/index.ejs')%>
<h2 class="text-center">Agregar productos</h2>
<div class="mx-4">
  <form
    action="/agregar"
    method="post"
    class="col-md-6 offset-3 border rounded-2 bg-secondary text-white pb-4"
  >
    <div class="mb-3 px-4 pt-4">
      <label class="form-label">Titulo</label>
      <input type="text" name="title" class="form-control" />
    </div>
    <div class="mb-3 px-4">
      <label class="form-label">Precio</label>
      <input type="number" name="price" class="form-control" />
    </div>
    <div class="mb-3 px-4">
      <label class="form-label">Imagen</label>
      <input type="file" name="thumbnail" class="form-control" />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </div>
  </form>
</div>
