<nav class="navbar py-4">
  <a href="/" class="navbar-brand">Icono</a>
  <div  class="">
    <ul class="navbar-nav d-flex flex-row justify-content-evenly">
  <li class="nav-item me-3">
    <a class="nav-link " aria-current="page" href="/agregar">Agregar Productos</a>
  </li>
   <li class="nav-item me-3">
    <a class="nav-link" aria-current="page" href="/productos">Productos</a>
  </li>
  </div>