
include index.pug

h2.text-center Agregar productos
    .mx-4
      form.col-md-6.offset-3.border.rounded-2.bg-secondary.text-white.pb-4(action='/agregar', method='post')
        .mb-3.px-4.pt-4
          label.form-label Titulo
          input.form-control(type='text', name='title')
        .mb-3.px-4
          label.form-label Precio
          input.form-control(type='number', name='price')
        .mb-3.px-4
          label.form-label Imagen
          input.form-control(type='file', name='thumbnail')
        .text-center
          button.btn.btn-primary(type='submit') Agregar Producto