header.container
  nav.navbar.py-4
    a.navbar-brand(href='/') Icono
    div
      ul.navbar-nav.d-flex.flex-row.justify-content-evenly
        li.nav-item.me-3
          a.nav-link(aria-current='page', href='/agregar') Agregar Productos
        li.nav-item.me-3
          a.nav-link(aria-current='page', href='/productos') Productos