<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight"
  aria-controls="offcanvasRight"
>
  Chat
</button>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Chat</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <ul class="list-group">
    <li></li>
  </ul>

  <form action="" class="px-2" id="form-chat">
    <input
      type="text"
      name="chat"
      class="form-control"
      id="input-chat"
      placeholder="Ingresar Mensaje"
    />
    <button type="submit" class="btn btn-primary m-2">Enviar</button>
  </form>
</div>

<!-- Script -->
<script>
  const socket = io();
  const form = document.querySelector("#form-chat");
  const inputChat = document.querySelector("#input-chat");
  const message = document.querySelector("ul");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    if (inputChat.value) {
      socket.emit("chatMessage", inputChat.value);
      inputChat.value = "";
    }
  });

  socket.on("chatMessage", (msg) => {
    const item = document.createElement("li");
    item.textContent = msg;
    message.appendChild(item);
    window.scrollTo(0, document.body.scrollHeight);
  });
</script>
