<!DOCTYPE html>
<html lang="en">
  <%-include ('head')%>
  <body>
    <header><%- include('navbar')%></header>
    <main>
      <h3 class="text-center mt-4">Gracias por su compra!</h3>
    </main>
  </body>
</html>
