<div class="container-fluid mb-4">
  <div class="row p-4 position-relative">
    <div class="col-md-6">
      <img
        class="img-inicio"
        src="./img/cirugia-medicina-estetica.jpg"
        alt=""
      />
    </div>
    <div class="col-md-6 align-self-center">
      <div id="section">
        <h1 class="text-center">Medicina Estética</h1>
        <p class="text-md-center fs-6 fst-italic">
          Los fines de la Medicina Estética son la restauración, el
          mantenimiento y la promoción de la estética, la belleza y la salud,
          para lo que utiliza prácticas médicas y de pequeño intervencionismo,
          en las que se emplea anestesia tópica o local y en régimen
          ambulatorio.
        </p>
      </div>
    </div>
  </div>
</div>
