<h2 class="text-center">Agregar productos</h2>
<div class="mx-4">

<form action="/confirmacion" method="POST" class="col-md-6 offset-3 border rounded-2 bg-secondary text-white pb-4" enctype="multipart/form-data">
  <div class="mb-3 px-4 pt-4">
    <label for="inputTitle" class="form-label">Titulo</label>
    <input type="text" class="form-control" id="inputTitle" />
  </div>
  <div class="mb-3 px-4">
    <label for="inputPrice" class="form-label">Precio</label>
    <input type="number" class="form-control" id="inputPrice" />
  </div>
  <div class="mb-3 px-4">
    <label for="inputFile" class="form-label">Imagen</label>
    <input type="file" class="form-control" id="inputFile" />
  </div>
  <div class="text-center">

  <button type="submit" class="btn btn-primary">Agregar Producto</button>
  </div>
</div>
</form>