<div>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
    </tr>
    <tr>
      <td>nombre</td>
      <td>apellido</td>
      <td>edad</td>
    </tr>
  </table>
</div>
