<!DOCTYPE html>
<html lang="en">
  <%- include ('head')%>
  <body>
    <%- include ('navbar')%>
    <div class="text-center mt-4">
      <h2>Username o Password no corresponden</h2>
      <button class="btn btn-secondary" onclick="location.href='/'">
        Login
      </button>
    </div>
  </body>
</html>
